{% extends "layout.html.twig" %}
{% block contenido %}
    <div class="row">
        <div class="col-sm-12">
            <h4 class="bg-warning paddin20px text-center">¿Quieres eliminar el sector {{ sector.nombre }}?</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="btn btn-default" href="{{ path('prueba_sectores_eliminado', {'id':sector.id}) }}" role="button">Aceptar</a>
            <a class="btn btn-default" href="{{ path('prueba_sectores') }}" role="button">Cancelar</a>
        </div>
    </div>

{% endblock %}